.Rproj.user
.Rhistory
.RData
.RDS
.Ruserdata
**/*.RData
*.RData
**/*.RDS
*.RDS
**/*.sh
*.sh
**/.Rproj.user/**
.Rhistory
**/*.Rproj
*.Rproj
data/**
!data/samples_pcr.csv
!data/northamptonshire_pop_nomis.csv
output/**
ignore/**
